<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/Style.css" type="text/css">
</head>
<body>
    <header>
        <nav>
            <a href="/Center/ShowCenter">
                Centers
            </a>
            <a href="/Trener/ShowTrener">
                Treners
            </a>
            <a href="/Client/ShowClient">
                Clients
            </a>
            <a href="/Room/ShowRoom">
                Rooms
            </a>
            <div class="animation start-home"></div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
</body>
</html>