@model FitnessCenter.Models.Room
@{
    ViewBag.Title = "Add Room";
}

<form asp-action="Create" asp-controller="Room">
    <div class="form-group">
        <label asp-for="Name" class="control-label">Name</label>
        <input type="text" asp-for="Name" class="form-control" />
    </div>
    
    <div class="form-group">
        <label asp-for="CenterId" class="control-label">CenterId</label>
        <input type="text" asp-for="CenterId" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Отправить" class="btn btn-default" />
    </div>

</form>