@model FitnessCenter.Models.Room
@{
    ViewBag.Title = "Update";
}
@{ var item = Model;}
<form asp-action="UpdateRoom" asp-controller="Room">
    <div class="form-group">
        <label asp-for="Name" class="control-label">Name</label>
        <input type="text" asp-for="Name" class="form-control" value="@item.Name" />
    </div>
    <div class="form-group">
        <label asp-for="CenterId" class="control-label">Phone Number</label>
        <input type="text" asp-for="CenterId" class="form-control" value="@item.CenterId" />
    </div>

    <div class="form-group">
        <input type="submit" value="Отправить" class="btn btn-default" />
    </div>
</form>